@import "modules/variables";

body {
  background-color: $gray-light; 
  box-sizing: border-box;
  font-size: 16px;
}

*, *:after, *:before {
  box-sizing: inherit;
}

h2 {
  color: $gray-dark;
}

.header {
  background-color: #2199e8;

  > h1 {
    color: white;
    text-align: center;
  }
}

@import "partials/base";
@import "partials/audio-view";
@import "partials/canvas";
@import "partials/file-upload";

@import "vendors/overrides";
